body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
.app-container {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 10px 0;
}
a {
  color: #885df1;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-button {
  background-color: #885df1;
  font-size: 16px;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  color: white;
}
main {
  padding: 30px;
}
.weather-data {
  display: flex;
  justify-content: space-between;
}
.city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.parameter {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500px;
}
.parameter strong {
  color: #f65282;
}
.temperature {
  display: flex;
}
.weather-icon {
  width: 88px;
  height: 88px;
}
.temperature-value {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}
.temperature-unit {
  margin-top: 6px;
  font-weight: 28px;
}
footer {
  border-bottom: 1px solid #f9f7fe;
  padding: 40px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
